---
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import MySiteLayout from './main.astro';

interface Props {
  title: string;
  img?: string;
  mods: {
    [key: string]: string[],
  },
  loadOrder: string[]
}

const { title, mods, loadOrder, img = "/hero.jpg" } = Astro.props;
---
<MySiteLayout title={title + ' | Load Orders'}>
  <Hero title={title} img={img}>
    <slot />
  </Hero>
  <main class="divide-y-8 divide-slate-700">
    <details>
      <summary class="text-3xl text-white font-black uppercase my-4">Mods</summary>
    {Object.keys(mods).map(section => {
      if (mods[section].length !== 0) {
        return (<div>
          <h4 class="text-2xl text-white font-black uppercase my-4">{section}</h4>
          <ul class="mb-4 mb-8 grid md:grid-cols-3 gap-4 text-white">
            {mods[section].map(item => (<li>
              <span title={item} class="block bg-slate-700 p-2 truncate">
                {item}
              </span>
            </li>))}
          </ul>
        </div>)
      }
    })}
    </details>
  </main>
  <main class="divide-y-8 divide-slate-700">
    <details>
      <summary class="text-3xl text-white font-black uppercase my-4">Load Order</summary>
      <ul class="mb-4 mb-8 grid gap-4 text-white">
        {loadOrder.map(item => (<li>
          <span title={item} class="block bg-slate-700 p-2 truncate">
            {item}
          </span>
        </li>))}
      </ul>
    </details>
    <Footer playlistCount={100} loadOrderCount={100} />
  </main>
</MySiteLayout>
