---
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import MySiteLayout from './main.astro';

interface Props {
  title: string;
  img?: string;
  mods: {
    [key: string]: string[],
  }
}

const { title, mods, img = "/hero.jpg" } = Astro.props;
---
<MySiteLayout title={title + ' | Load Orders'}>
  <Hero title={title} img={img}>
    <slot />
  </Hero>
  <h3 class="text-3xl text-white font-black uppercase my-4">Load Order</h3>
  <main class="divide-y-8 divide-slate-700">
    {Object.keys(mods).map(section => {
      <h4>{section}</h4>
    // <ul class="mb-4 mb-8 flex flex-col gap-4 text-white grid md:grid-cols-3">
    //   {mods[section].map(item => (<li>
    //     <span title={item} class="rounded bg-slate-700 p-2 block truncate">
    //       {item}
    //     </span>
    //   </li>))}
    // </ul>
    })}
    <Footer playlistCount={100} loadOrderCount={100} />
  </main>
</MySiteLayout>
